*{
    font-family: OpenSansCustom;
    background-color: rgb(229, 226, 226);
    color: black;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


#formulario{
    display: flex;
    flex-direction: column;
    border-radius: 1px solid rgb(224, 125, 125);
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 260px;
    height: 80%;
    margin: 5px;
    background-color: #f0d7d8;
}

#formulario label{
    background-color:#facbcb ;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
   
}
    .iText{
        background-color: rgb(212, 140, 140);
    }

#botones{
    padding-top: 20px;
    padding-left: 20px;
}

#btn-inscribir, #btnCancel{
    display: table-cell;
    width: auto;
    height: 30px;
    background-color: #58d169
}

#containerPrincipal{
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

#contenedorFormulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}

#carroIngresado{
    height: 100%;
    text-align:center;
    padding: 20px;
}
#listadoCarrosI, #listadoCarrosI p, #listadoCarrosI strong, #listadoCarrosI h3{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #c3f764;
    text-align: center;
    margin: 5px;
    width: 50%;
}